In [1]:
a = [1,2,3,4,5,6]
sum_=0
for i in a:
    sum_ = sum_+i

In [2]:
sum_

21

In [6]:
u

TypeError: 'int' object is not iterable

In [9]:
a =[1,2,3,2,4,2,3,45,65]
bharadwaj =[]
for i in a:
    if i not in bharadwaj:
        bharadwaj.append(i)

In [10]:
bharadwaj

[1, 2, 3, 4, 45, 65]

In [14]:
tan = [1,2,3,4,5,6,7,8,9]
for h,f in enumerate(tan):
    print(h,f)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [16]:
tan = [1,2,3,4,5,6,7,8,9]
gan =[]
vank=[]
for i,v in enumerate(tan):
    if i not in (0,4,5):
        gan.append(v)
    else:
        vank.append(v)

In [17]:
gan

[2, 3, 4, 7, 8, 9]

In [18]:
vank

[1, 5, 6]

In [25]:
tan = [1,2,3,4,5,6,7,8,9]
gun = []
for i,v in enumerate(tan):
    if i not in (0,4,5):
        gun.append(v)

In [26]:
gun

[2, 3, 4, 7, 8, 9]

In [27]:
gup=[v for i,v in enumerate(tan) if i not in (0,4,5)]

In [28]:
gup

[2, 3, 4, 7, 8, 9]

In [42]:
tan = [1,2,3,4,5,6,7,8,9]
gun = []
for i in tan:
    if i not in tan:

SyntaxError: invalid syntax (<ipython-input-42-9385e05960c5>, line 5)

In [41]:
tan

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
bang =[]
for i in range(1,10):
        bang.append(i)

In [74]:
bang

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
tan = [1,2,3,4,5,6,7,8,9]
import random

In [78]:
random.choice(tan)

5

In [83]:
han = [1,2,3,4,5]
jae = []
for i in tan:

TypeError: 'int' object is not iterable

In [81]:
jae

[1, 2, 3, 4, 5]