# while loop

In [ ]:
sum_ = 0
for i in range(1,11):
    sum_ = sum_ + 1
sum_

In [ ]:
n = 10
sum_ = 0
i = 1
while i <= n:
    sum_ = sum_ + i
    i = i + 1
sum_

In [1]:
n = 10
sum_ = 0
i = 1
while n >= i:
    sum_ = sum_ + i
    i = i + 1
sum_

55

In [2]:
name = "bharadwaj"
print('how are you', name)

how are you bharadwaj

In [4]:
n = int(input("enter the number"))
sum_ = 0
i = 1
while n >= i:
    sum_ = sum_ + i
    i = i + 1
sum_

enter the number 1

1

In [5]:
count = 0
while(count < 3):
    count = count + 1
    print("hello world")

hello world
hello world
hello world

In [6]:
a = [1,2,3,4,5,6,7]
for i in a.pop():
    print(i)

TypeError: 'int' object is not iterable

In [7]:
x = []
i = 5
while i <= 20:
    x.append(i)
    i = i + 10
x

[5, 15]

In [8]:
x = [i for i in range(5,24,13)]

In [9]:
x

[5, 18]

In [10]:
for a in range(1500,2700):
    if (a % 5 == 0) and(a % 7 == 0):
        print(a)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [11]:
temp = input("enter the temparature")
degree = int(temp[:-1])
if:
    result = int(round((9*degree)/5 +32)
    conversion = "Fahrenheit"
elif:
    result = int(round(degree -32)* (5/9))
    conversion = "Celsius"
else:
    print("check the input")
print("the temparture in",convention,"is",result,"degrees")

SyntaxError: invalid syntax (<ipython-input-11-4ceb8a8b1854>, line 3)

In [13]:
temp = input("Input the temperature you like to convert? (e.g 45F,102C..etc) : ")
degree = int(temp[:-1])
i_convention = temp[-1]
if i_convention.upper() == 'C':
    result = int(round((9 * degree)/5 + 32))
    o_convention = "Fahrenheit"
elif i_convention.upper() == 'F':
    result = int(round((degree - 32)* 5/9))
    o_convention = 'Celsius'
else:
    print("Input Proper Convention")
print("The temperature in ",o_convention," is ",result," degrees")

Input the temperature you like to convert? (e.g 45F,102C..etc) :  25F

The temperature in  Celsius  is  -4  degrees

### functional programmimg

In [14]:
bharadwaj = [1,2,3,4,5,6]
munna = []
for i in bharadwaj:
    if (i % 2) ==0:
        munna.append(i)

In [15]:
munna

[2, 4, 6]

In [16]:
bharadwaj = [1,2,22,34,56,77,88]
ringmaster =[]
for z in bharadwaj:
    if z% 2 == 0:
     ringmaster.append(z)

In [17]:
ringmaster

[2, 22, 34, 56, 88]

In [18]:
def even(bharadwaj):
    munna = []
    for q in bharadwaj:
            if q%2 == 0:
                munna.append(q)
    return munna

In [19]:
even([1,223,3,44,567,87])

[44]

In [20]:
def even(royal):
    quan = []
    for x in royal:
        if x%2 == 0:
            quan.append(x)
    return quan

In [21]:
even([22,44,33,55,68,76,98,100])

[22, 44, 68, 76, 98, 100]

In [22]:
def odd(ranger):
    sandel = []
    for u in ranger:
        if u % 3 == 0:
            sandel.append(u)
    return sandel

In [23]:
odd([1,22,33,44,54,56,77,98,97])

[33, 54]

In [24]:
fange = [1,22,3,21,43,57,97]
fame = []
fameodd = []
for w in fange:
    if w%2 == 0:
        fame.append(w)
    else:
        fameodd.append(w)

In [25]:
fame

[22]

In [26]:
fameodd

[1, 3, 21, 43, 57, 97]

In [27]:
def even_odd(my_list):
    my_even = []
    my_odd = []
    for o in my_list:
        if o%2 == 0:
            my_even.append(o)
        else:
            my_odd.append(o)
    return(my_odd,my_even)

In [28]:
even_odd([1,22,33,46,54,76,89])

([1, 33, 89], [22, 46, 54, 76])

In [29]:
bharadwaj = [1,4,3,'bharat',7]
def get_numbers(bharadwaj):
    gamer = []
    for f in bharadwaj:
        if type(f) == int:
            gamer.append(f)
    return gamer

In [30]:
get_numbers(bharadwaj)

[1, 4, 3, 7]

In [31]:
my_list = [[1,2,3],[4,5,6],[7,8,9]]

In [32]:
harse = []
for u in my_list:
    for gand in u:
        harse.append(gand)

In [33]:
harse

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
def flat(v):
    dange = []
    for i in v:
        for k in i:
            dange.append(k)
    return dange

In [35]:
flat([[1,2,3],[4,5,6],[7,8,9]])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
my_list = [[1,2,3],[4,5,6,[11,12,13]],[7,8,9]]
bharadwaj = []
for i in my_list:
    for k in i:
        if type(k) == type([]):
            bharadwaj.append(i)
        if
            bharadwaj.append(k)

SyntaxError: invalid syntax (<ipython-input-36-a54eb0b8c4d8>, line 7)

In [37]:
bharadwaj

[1, 4, 3, 'bharat', 7]

In [38]:
my_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Arguments

+ In user-defined function we learn about defined and calling it

In [39]:
def greet(name,msg):
    print('hello', name + ',' + msg)

In [40]:
greet('bharat','good morning')

hello bharat,good morning

In [41]:
def greet(name,msg):
    print('Hello', name + ',' + msg)

In [42]:
greet('world','where are you')

Hello world,where are you

In [43]:
complex(3,5)

(3+5j)

In [44]:
king = [3,4]
complex(*king)

(3+4j)

In [45]:
def add(a,b):
    c = a + b
    print(c)

In [46]:
add(2,5)

7

In [47]:
def substract(a,b):
    c = a - b
    print(c)

In [48]:
substract(4,2)

2

In [49]:
def sum(*aurg):
    sum_ = 0
    for i in aurg:
        sum_ = sum_ + i
    return sum_

In [50]:
sum(1,2,3,4)

10

In [51]:
def compare(list_1,list_2):
    new_list = []
    for i in list_1:
        for j in list_2:
            if(i==j):
                new_list = new_list
                new_list.append(i)
                return new_list

In [52]:
compare([1,2,3],[0,3,4])

[3]

In [53]:
my_list1 = [[1,2,3],[4,5],6]
my_tuple = (1,4,5,6,8)
bharadwaj = []
for i in my_list1:
        if(type(my_tuple) == list):
            if(i==my_tuple):
                bharadwaj.append(i)
                print(i)

In [54]:
bharadwaj

[]

In [55]:
my_list1 = [[1,2,3],[4,5],6]
bharadwaj = []
for i in my_list1:
    for j in i:
        bharadwaj.append(j)

TypeError: 'int' object is not iterable

In [56]:
bharadwaj

[1, 2, 3, 4, 5]

In [57]:
def max(a,b,c):
    print(input('enter the number a:'))
    print(input('enter the number b:'))
    print(input('enter the number c:'))

In [58]:
def max_of_two(x,y):
    if x > y:
        return x
    return y

In [59]:
max_of_two(2,5)

5

In [60]:
def max_of_three(x,y,z):
    return max_of_two(x,max_of_two(y,z))

In [61]:
max_of_three(1,4,6)`

SyntaxError: invalid syntax (<ipython-input-61-2d0cc7fadd94>, line 1)

In [62]:
a = (1,67,89,69,76)
x = max(a)

TypeError: max() missing 2 required positional arguments: 'b' and 'c'

In [63]:
print(x)

[5, 18]

In [64]:
def maximum(*x,):
    return x

In [65]:
maximum(1,67,89,69,76)

(1, 67, 89, 69, 76)

In [ ]:
def string_reverse(munna):
    frang = ''
    index = len(munna)
    while index > 0:
        frang += munna[index-1]
        index = index-1
    return frang

In [ ]:
string_reverse('bharadwaj')

In [ ]:
bharadwaj = []
i = 1
sum_ = 1
while i<10:
    sum_ = sum_ + i:
        bharadwaj.append(sum_)
    return sum_

In [ ]:
bharadwaj

In [ ]:
def double(q):
    return q * 2

In [ ]:
double(5)

In [66]:
import numpy as np

In [72]:
data = np.random.rand(3,4,4)

In [73]:
data

array([[[1.02242921e-01, 4.87323315e-02, 5.53173875e-01, 7.84759840e-01],
        [8.73563592e-02, 1.09225456e-01, 3.18687653e-02, 4.10687477e-01],
        [1.96839737e-01, 4.20423142e-02, 5.53316644e-01, 6.73482969e-01],
        [7.02895145e-04, 2.21237168e-01, 4.97427520e-01, 9.13860663e-01]],

       [[5.71374478e-01, 5.66467748e-01, 9.77841459e-01, 7.21592562e-02],
        [5.45912805e-01, 4.88324428e-01, 2.55504452e-01, 8.69138467e-02],
        [5.75147679e-01, 9.68912131e-01, 4.01264436e-01, 3.64926397e-01],
        [7.32294586e-01, 3.46856926e-02, 7.41118563e-01, 6.20007187e-01]],

       [[8.29435826e-01, 8.65840562e-01, 9.92848772e-01, 1.20389388e-01],
        [7.19255482e-01, 4.91582031e-02, 7.41771340e-01, 5.50160857e-01],
        [2.16440303e-01, 6.35037696e-01, 9.12315981e-01, 7.47116499e-01],
        [2.11357216e-01, 2.95358928e-01, 6.97225607e-01, 3.62169892e-01]]])

In [74]:
np.zeros((2,2,2))

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]])

In [77]:
np.full((2,2,2),3)

array([[[3, 3],
        [3, 3]],

       [[3, 3],
        [3, 3]]])

# polymorphism

In [10]:
class bharadwaj:
    def __init__(self):
        self.maxprice = 200
    def drive(self):
        print('selling price: {}'.format(self.maxprice))
    def settheprice(self,price):
        self.maxprice = price

In [11]:
c = bharadwaj()

In [12]:
c.drive()

selling price: 200

In [13]:
c.settheprice(260)

In [15]:
c.drive()

selling price: 260

In [25]:
class shark:
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def eat(self):
        print("the shark name is {} the age of the shark is {}".format(self.name,self.age) )
    
        
class bull:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def eat(self):
        print("the bull name is {} the age of the bull is {}".format(self.name,self.age))

In [31]:
c = shark('rado',120)
cn = bull('rang',23)

In [33]:
for animals in (c,cn):
    animals.eat()

the shark name is rado the age of the shark is 120
the bull name is rang the age of the bull is 23

In [36]:
class shark:
    def swim(self):
            print('the shark has swimmed')
    def backward(self):
        print('shark has canot swim backward')
    def eyes(self):
        print('it has large eyes')
        
class fish:
    
    def swim(self):
        print('the fish has swimed')
    def backward(self):
        print('fish has swim backwards')
    def eyes(self):
        print('it has small eyes')

In [37]:
can = shark()
ran = fish()

In [38]:
for i in (can,ran):
    i.swim()
    i.backward()
    i.eyes()

the shark has swimmed
shark has canot swim backward
it has large eyes
the fish has swimed
fish has swim backwards
it has small eyes

In [45]:
class rectangle:
    
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth
            
    def  area(self):
        return self.length * self.breadth
    
class square:
    
    def __init__(self,side):
        self.side = side
        
    def area(self):
        return self.side**2

In [50]:
c = rectangle(2,3)
can= square(5)

In [54]:
for i in (c,can):
    print(i.area())

6
25

 # data encaplusation

In [87]:
 class employee:
    def __init__(self):
        self.__salary = 25000
    def drive(self):
        print("salary is {}".format(self.__salary))
    def setmaxsalary(self,salary):
        self.__salary = salary

In [88]:
c= employee()

In [89]:
c.drive()

salary is 25000

In [92]:
c.setmaxsalary(30000)

In [93]:
c.drive()

salary is 30000

In [107]:
class platinum:
    
    def __init__(self):
        self.__rate=300000
        
    def nag(self):
        print(f"the cost of platinum is: {self.__rate}")
        
        
    def changecost(self,price):
        self.__rate=price

In [108]:
material = platinum()

In [109]:
material.nag()

the cost of platinum is: 300000

In [110]:
material.__rate = 28800

In [111]:
material.nag()

the cost of platinum is: 300000

In [114]:
material.changecost(250000)

In [117]:
material.nag()

the cost of platinum is: 250000

In [126]:
class car:
    def __init__(self):
        self.__speed = 80
        self.__name = 'jaguar'
    def cars(self):
        print(f"the car name is: {self.__name}")
        
    def drive(self):
        print(f"the speed is: {self.__speed}")
    def setlimit(self,limit):
        self.__speed = limit

In [127]:
c = car()

In [129]:
c.cars()
c.drive()

the car name is: jaguar
the speed is: 80

In [130]:
c.__speed(232)

AttributeError: 'car' object has no attribute '__speed'

In [131]:
c.setlimit(45)

In [132]:
c.cars()

the car name is: jaguar

In [133]:
c.drive()

the speed is: 45

In [156]:
class person:
    
    def __init__(self,name,age):
        self.name = name
        self.__age = age
     
    def display(self):
        print(self.name)
        print(self.__age)
        
    def getname(self):
        print(self.__age)
        
    def setname(self,newage):
        self.__age = newage

In [157]:
c = person('mahadev',23)

In [158]:
c.display()

mahadev
23

In [159]:
c.getname()

23

In [161]:
c.setname(22)

In [162]:
c.display()

mahadev
22

## Multi level inheritance

In [3]:
class Team:
    def show_team(self):
        print('this is our team: ')

class testingname(Team):
    testingname=" "
    
    def show_testingname(self):
        print("testing name : ",self.testingname)
        
        
class dev(Team):
    devname = " "
    
    def show_dev(Team):
        print("dev name:",self.devname)
        
class sprint(testingname,dev):
    
    def show_sprint(self):
        print('testingname: ',self.testingname)
        print('devname: ',self.devname)

In [11]:
s1=sprint()
s1.testingname="john"
s1.devname='gans'
s1.show_team()
s1.show_sprint()

this is our team:
testingname:  john
devname:  gans

In [25]:
class vehical:
    def __init__(self,mileage,max_speed):
        self.mileage =mileage
        self.max_speed=max_speed
        print("the vehicle mileage is {} and max_speed is {}".format(self.mileage,self.max_speed))

In [26]:
c=vehical(35,140)

the vehicle mileage is 35 and max_speed is 140

In [27]:
class vehical:
    pass

In [41]:
class vehical:
     def __init__(self,name,speed,milleage,model):
            self.name=name
            self.speed=speed
            self.milleage=milleage
            self.model=model
            print(f'vehical name is {self.name} and the speed is {self.speed} milleage {self.milleage} model no {self.model}')

In [43]:
g =vehical('jaguar',240,30,"XE740")

In [51]:
class vehical:
    def __init__(self,name,speed,milleage,model):
        self.name=name
        self.speed=speed
        self.milleage=milleage
        self.model=model
    def seating(self,capacity):
        self.capacity=capacity
        print(f'vehical name is {self.name} and capacity is {self.capacity}')

In [52]:
g =vehical('jaguar',240,30,"XE740")

In [53]:
g.seating(4)

vehical name is jaguar and capacity is 4

In [55]:
def exponential(a,b):
    num = b
    while num>0:
        result =result*a

SyntaxError: invalid syntax (<ipython-input-55-fc5173588f25>, line 1)

In [56]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

5 raises to the power of 4 is:  625

In [74]:
import math
def exp(a,b):

SyntaxError: unexpected EOF while parsing (<ipython-input-74-6a9e8840c0b8>, line 2)

In [68]:
a=exponential(2,3)

In [82]:
def exponential(a,b):
    num=b
    result=1
    while num>0:
        result=result*a
        num = num-1
    print(a,'exponential of ',b, 'is: ',result)

In [85]:
exponential(3,3)

3 exponential of  3 is:  27

In [87]:
a="7 5 3 6"
a[::-1]

'6 3 5 7'

In [88]:
25000*0.20

5000.0

In [91]:
def percentage(a,b,c):
    n1=a*0
    n2=b*0.10
    n3=c*0.20
    result=n1+n2+n3
    print('the taxable amount is: ',result)

In [92]:
percentage(10000,10000,25000)

the taxable amount is:  6000.0

In [112]:
for i in range(1,11):
    print(i,end=' ')
    print(i*2,i*3,i*4,i*5,i*6,i*7,i*8,i*9,i*10)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [133]:
num = int(input("enter the number: "))
for i in range(1,11):
    nums = num * i
    print(num * i = nums)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-133-b3b4d55c6222>, line 4)

In [141]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [151]:
def multi(a):
    for i in range(1,11):
        nums = a * i
        print(a, "x", i, "=", nums)

In [152]:
multi(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [156]:
class multi:
    def multi(self,a):
        for i in range(1,11):
            nums = a * i
            print(a, "x", i, "=", nums)

In [157]:
obj = multi()
obj.multi(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [169]:
for i in range(1,6):
    j=i-1
    print()

0
1
2
3
4

In [171]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [183]:
row=6
for i in range(0,row):
    for k in range(0,i):
        print(i ,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5