In [7]:
bharadwaj = [1,2,3,4,5]
muna = []
sum_ = 0
for i in bharadwaj:
    sum_ = sum_ + i
muna.append(i)

In [8]:
muna

[5]

In [11]:
a = [1,2,3,2,1,34,56,77,99]
hammer = []
for i in a:
    if i not in hammer:
        hammer.append(i)

In [12]:
hammer

[1, 2, 3, 34, 56, 77, 99]

In [16]:
a = [1,2,3,2,1,34,56,77,99]
hammer =[i for i in a if (i not in hammer)]

In [17]:
hammer

[]

In [3]:
my_dict ={1:'apple',2:'grape'}

In [5]:
my_dict

{1: 'apple', 2: 'grape'}

In [11]:
square_dict = dict()
for num in range(1,11):
    square_dict[num]=num*num

In [13]:
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [14]:
my_list=[1,2,3,4,5,6]
square_list=[num*num for num in my_list]

In [15]:
square_list

[1, 4, 9, 16, 25, 36]

In [20]:
square_dict={num:num*num for num in range(1,11)}

In [21]:
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [31]:
old_price ={'milk':1.02,'coffe':2.5,'bread':2.5}
dollar_price=0.75
for i,v in old_price.items():
    old_price[i] = v*dollar_price

In [32]:
old_price

{'milk': 0.765, 'coffe': 1.875, 'bread': 1.875}

In [39]:
old_price ={'milk':1.02,'coffe':2.5,'bread':2.5}
dollar_price=0.75
old_price={i:v*dollar_price for (i,v) in old_price.items()}

In [40]:
old_price

{'milk': 0.765, 'coffe': 1.875, 'bread': 1.875}

In [51]:
old_price ={'mike':24,'jack':25,'yard':25}
new_dict =dict()
for i,v in old_price.items():
    if (v%2==0):
        new_dict[i]=v

In [53]:
new_dict

{'mike': 24}

In [57]:
old_price ={'mike':24,'jack':25,'yard':25}
new_dict =dict()
for i,v in old_price.items():
    if(v%2!=0 and v<40):
        new_dict[i]=v

In [58]:
new_dict

{'jack': 25, 'yard': 25}

In [67]:
old_price ={'mike':25,'jack':44,'yard':55}
new_dict =dict()
for i,v in old_price.items():
    if(v%2!=0 or v<40):
        new_dict[i]='young'
    else:
        new_dict[i]='old'

In [68]:
new_dict

{'mike': 'young', 'jack': 'old', 'yard': 'young'}

In [70]:
dict={k1:{k2:k1*k2 for k2 in range(1,6)} for k1 in range(1,5)}

In [71]:
dict

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

In [37]:
n=7
for i in range(1,n):
    for j in range(0,i):
        print(i*j,end=" ")
    print('\n')

0

0 2

0 3 6

0 4 8 12

0 5 10 15 20

0 6 12 18 24 30

In [58]:
def sum(n):
    sum_=0
    for i in range(1,n+1):
        sum_=sum_+i
    return sum_

In [60]:
sum(10)

55

In [64]:
n=2
for i in range(1,11):
    print(n 'x' i '=' i*n)

SyntaxError: invalid syntax (<ipython-input-64-4e3f658d9d14>, line 3)

In [66]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if i>150:
        break
    if i%5==0:
        print(i)

15
55
75
150

In [72]:
def num(k):
    a=[]
    for i in str(k):
       a.count(k)

In [73]:
num(78596)

In [74]:
a

NameError: name 'a' is not defined

In [78]:
n=5
k=5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=" ")
    print('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [79]:
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

In [81]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [82]:
for i in range(5):
    print(i)
print("done!")

0
1
2
3
4
done!

In [90]:
n1=int(input("enter the starting number1:"))
n2=int(input("enter the starting number2:"))
for i in range(n1,n2+1):
    if i>1:
        for j in range(2,i):
            if (i%j==0):
                break
        else:
            print(i)

enter the starting number1: 25
enter the starting number2: 50

29
31
37
41
43
47

In [94]:
a=0
b=1
for i in range(0,10):
    term=a+b
    print(a)
    a=b
    b=term

0
1
1
2
3
5
8
13
21
34

In [100]:
a=1
n=int(input("enter the number"))
for i in range(1,n+1):
    a=a*i

enter the number 6