In [ ]:
# n1=int(input("enter the number1:"))
n2=int(input("enter the number2:"))
multi=n1*n2
sums=n1+n2
if multi<1000:
    print("The output:",multi)
else:
    print("The output:",sums)

In [2]:
z=10
sum=0
for i in range(z):
        n=sum+i
        print("Current Number", i, "Previous Number ", sum ," Sum: ", n)
        sum=i

Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [3]:
string="pynative"
string[::3]

'pav'

In [4]:
string="pynative"
string[4:8]

'tive'

In [1]:
def num(n1):
    if(n1[0]==n1[-1]):
        return True
    else:
        return False

In [2]:
num([10, 20, 30, 40, 20])

False

In [7]:
def multi(k):
    for i in k:
        if(i%5==0):
           print(i)

In [8]:
multi([10, 20, 33, 46, 55])

10
20
55

In [9]:
j=[]
a=[10, 20, 33, 46, 55]
for i in a:
    if (i%5==0):
        j.append(i)

In [10]:
j

[10, 20, 55]

In [11]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [12]:
def num(n):
    if (n[0]==n[-1]):
        return True
    else:
        return False

In [13]:
num('1275')

False

In [14]:
n=[]
a = [10, 20, 23, 11, 17]
b = [13, 43, 24, 36, 12]
for i in a:
    if(i%2 !=0):
        n.append(i)
for j in b:
    if(j%2 ==0):
        n.append(j)

In [15]:
n

[23, 11, 17, 24, 36, 12]

In [16]:
def revs(n):
    for i in n:
        k=i[::-1]
        return k

In [17]:
revs("12345")

'1'

In [18]:
number = 7536
print("Given number", number)
while (number > 0):
    # get the last digit
    digit = number % 10
    number=number//10
    print(digit)

Given number 7536
6
3
5
7

In [19]:
number = 7536
print("Given number", number)
while (number > 0):
    # get the last digit
    digit = number % 10
    
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [20]:
n1=int(input("enter the number1:"))
n2=int(input("enter the number2:"))
n3=int(input("enter the number3:"))
n4=(n1*0)+(n2*0.10)+(n3*0.20)
print(n4)

enter the number1: 1
enter the number2: 2
enter the number3: 3

0.8

In [21]:
for i in range(1,11):
    for j in range(1,i):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

In [22]:
def exponent(base,exp):
    print(base**exp)

In [23]:
exponent(2,5)

32

In [24]:
import math

In [25]:
pow(3,5)

243

In [26]:
n1=int(input("enter the number1:"))
n2=int(input("entr the number2:"))
print(n1*n2)

enter the number1: 3
entr the number2: 2

6

In [27]:
print('My', 'Name', 'Is', 'James',sep="**")

My**Name**Is**James

In [28]:
print('%o,' % (12))

14,

In [29]:
print(round(458.541315,2))

458.54

In [30]:
floatNumbers = []
n = int(input("Enter the list size : "))

print("\n")
for i in range(0, n):
    print("Enter number at location", i, ":")
    item = float(input())
    floatNumbers.append(item)
    
print("User List is ", floatNumbers)

Enter the list size :  2

Enter number at location 0 :

 1

Enter number at location 1 :

 3

User List is  [1.0, 3.0]

In [32]:
str1, str2, str3 = input("Enter three string").split()
print(str1, str2, str3)

Enter three string man nam sadd

man nam sadd

In [33]:
totalMoney = 1000
quantity = 3
price = 450
print("I have {} dollars so I can buy {} football for {} dollars" .format(totalMoney,quantity,price))

I have 1000 dollars so I can buy 3 football for 450 dollars

In [34]:
import os
print(os.stat("Downloads/trainData.csv").st_size==0)

False

In [35]:
os.path("trainData.csv")

TypeError: 'module' object is not callable

In [36]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("Downloads/trainData.csv")

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
d1=df.iloc[1:20]

In [ ]:
d1

In [ ]:
d1.describe()

In [ ]:
df[['Pclass','Survived']]

In [ ]:
df.Age.unique()

In [37]:
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [38]:
for i in range(0,6):
    for j in range(0,i):
        print(i,end=' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [39]:
sum=0
for u in range(1,11):
        sum=sum+u

In [40]:
sum

55

In [41]:
n=int(input('enter the number:'))
for a in range(1,11):
    print(n 'X' a '=' n*a)

SyntaxError: invalid syntax (<ipython-input-41-9eaf9692ec28>, line 3)

In [42]:
num=2
for i in range(1,11):
    print(num*i)

2
4
6
8
10
12
14
16
18
20

In [54]:
corporate=[]
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for l in list1:
    if(l>150):
        break
    if (l%5==0):
        corporate.append(l)

In [55]:
corporate

[15, 55, 75, 150]

In [61]:
man=[]
n1="74869"
for i in n1:
    print(i)

7
4
8
6
9

In [70]:
man=7
count=0
while man !=0:
    man//=10
    count +=1
print(count)

1

In [74]:
man=
man !=0

False

In [76]:
a=0
for i in range(1,6):
    for j in range(1,i):
        while i>=5:
        print(i ,end=' ')
    print('\n')

IndentationError: expected an indented block (<ipython-input-76-14e88df29049>, line 5)

In [85]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(i)

4
3
2
1
0

In [87]:
for i in range(-10,-0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [89]:
for i in range(5):
    print(i)
print('done!')

0
1
2
3
4
done!

In [90]:
start = 1
end = 10
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 1 and 10 are:
2
3
5
7

In [91]:
2%1

0

In [94]:
 for i in range(1,11):
        if i>1:
            for j in range(2,i):
                if(i%j==0):
                    break
            else:
                print(i)

2
3
5
7

In [102]:
a=0
b=1
count=0
while count<10:
    print(a,end=" ")
    c=a+b
    a=b
    b=c
    count +=1

0 1 1 2 3 5 8 13 21 34

In [106]:
a=int(input("enter the number:"))
b=1
for l in range(1,a+1):
    b=b*l
print(b)

enter the number: 7

5040

In [104]:
b

120

In [109]:
n=76542
for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [118]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i,end=' ')

20 40 60 80 100

In [2]:
class vehicle:
    def __init__(self,max_speed,mileage):
        self.max_speed=max_speed
        self.mileage=mileage

In [3]:
nap=vehicle(120,25)

In [5]:
nap.max_speed

120

In [6]:
nap.mileage

25

In [8]:
class vehicle:
    def __init__(self,max_speed,mileage):
        self.max_speed=max_speed
        self.mileage=mileage
        
class bus(vehicle):
    pass

In [9]:
bus(120,24)

AttributeError: type object 'bus' has no attribute 'max_speed'